@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@300&family=Oswald&family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #081621;
}

body { 
    background-image: url(../images/avengers1.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

body>footer {
    position: sticky;
    height: auto;
}

#logo {
    font-family: Bangers, sans-serif;
    font-size: 65px;
    color: rgb(181, 6, 6);
    text-align: left;
    padding-bottom: 50px;
}

.socials {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials li {
    list-style: none;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    margin: 1em;
}

.socials li a {
    text-decoration: none;
    color: black;
}

.socials li a i {
    margin-right: 8px;
}

.container {
    position: relative;
    color: rgb(181, 6, 6);
    text-align: left;
}

.paragraph {
    font-family: Playfair Display, sans-serif;
    text-align: left;
    font-size: 20px;
    color: #3a7cae;
}

#about-game {
    font-family: Playfair Display, sans-serif;
    text-align: left;
    font-size: 30px;
    color: rgb(181, 6, 6);
}

h3 {
    font-family: Playfair Display, sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(181, 6, 6);
    font-size: 20px;
}

#start-button:hover {
    transform: scale(1.3);
}

#start-button {
    border: 2px outset goldenrod;
    text-align: center;
    font-size: 90%;
    background-color: rgb(198, 4, 4);
    color: #3a7cae;
    border-radius: 50px;
    padding: 15px 32px 15px 32px;
    margin:0 auto;
    margin-top: 20px;
    transition: 0.5s ease-in-out all;
}